body{
    font-family:'Times New Roman';
}
.bg-header{
    background:teal;
    font-weight:bold;
    color:white;
    text-align:center;
}
.Adjust-Navbar{
    background: black;
    min-height: 70px;
}
.button-right{
    float:right;
    margin-right:10px;
}
body{
    font-family:'Times New Roman';
}
.modal-header{
    background-color:blueviolet;
    color:white;
    font-size:large;
    font-weight:bold;
    text-align:center;
}
.modal-size{    
    margin-left:20%;
    margin-top:20%;    
}
.modal-body{
    height:200px;
    text-align:center;
    font-size:large;
    font-weight:bold;
    background:lightblue;
}
.modal-footer{
    background:linear-gradient(to bottom right, CornflowerBlue , CadetBlue );
}
.navbar-default{
    background-color: lavender!important;
    font-size: medium;   
    font-family: Times New Roman;    
}
.dropdown-menu {
    border: 1px solid #dee5e7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.form-control {
    border-color: #cfdadd;
    border-radius: 2px;
}
body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    color: #58666e;
    background-color: transparent;
}
.btn {
    font-weight: 500;
    border-radius: 2px;
    outline: 0 !important;
}